<!DOCTYPE html>
<html>
  <head>
      <title>Personal To-Do List</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>To Do List : Tasks and Categories</h1>
      </div>

    #parse( $template )

    </div>
  </body>
</html>
